body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  display: flex;
}

#nav-bar {
  position: fixed;
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-content: flex-end;
  overflow: hidden;
}

.pageLogo {
  width: 250px;
}
